.forgotBody {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgotform-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height:305px
}

.forgotform-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.forgotform-group {
    margin-bottom: 20px;
}

.forgotlabel {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

.forgotinput {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.forgotinput:focus {
    outline: none;
    border-color: #1a76f3;
}

.forgoterror-message {
    color: red;
    font-size: 12px;
    display: none;
}

.forgotsubmit-button {
    width: 100%;
    padding: 10px;
    background-color: #1a76f3;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgotsubmit-button:hover {
    background-color: #155cba;
}

