.homemain{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homecontent{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style:normal ;
}

.homenotification-button{
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px;
  color: white;
  background-color: black;
  font-size: 1.1em;
  position: fixed;
  right: 15px;
  top: 120px;
}
.homenotification-button:hover{
  background-color: white;
  color: black;
}


.homemain{
  padding-top: 170px; 
  padding-bottom: 50px;
}
.homecard{
  width: 270px;
  height: 400px;
}
.homecard img{
  width: 100%;
}

.homecard-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 390px;
  
}
.homecard{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  
} 
.homecard img{
  border-radius: 5px;
  
}
.homecard a{
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px;
  
}
.homeview-more{
  margin-top: 30px ;
  margin-left: 70px;
 
}
.homecard a:hover{
  background-color: black;
  color: white;
}

/* General styles for small devices */
@media screen and (max-width: 768px) {
    
    .homemain{
      padding-top: 100px; 
    }
    .homecard-container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
    }
  }
  
  